.checkmark {
    display: none;
    width: 22px;
    height: 22px;
    top: 50%;
    left: 50%;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.checked {
    background: rgba(0, 0, 0, 0.5)
}

.nonchecked {
    background-color: #eeeeee;
}

.checkmark_circle {
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: green;
    border-radius: 11px;
    left: 0;
    top: 0;
}

.checkmark_stem {
    position: absolute;
    width: 3px;
    height: 9px;
    background-color: #fff;
    left: 11px;
    top: 6px;
}

.checkmark_kick {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: #fff;
    left: 8px;
    top: 12px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 12%;
    display: block;
    margin: 1%;

}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 31%;
        max-width: 31%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 48%;
        max-width: 48%;
    }
}