@media(min-width:576px) {
    .sm-square-tile {
        padding-bottom: 100%;
    }
}
@media(min-width:768px) {
    .md-square-tile {
        padding-bottom: 100%;
    }
}

#activity-pane {
    border-left: 1px solid #f8f8f8;
}

.prediction-tile {
    height: 75px;
    border-radius: 5px;
}

.square-tile {
    padding-bottom: 100% !important;
}