.prediction-detail {
    border-radius: 4px;
    border-style: solid;
    border-color: #d0d0d0;
    border-width: 1px;
    background-color: #fff;
}

.expandedToMainPane{
    animation: expandToParent 200ms ease-out forwards;
}

.prediction-detail-title {
    opacity: 0;
    background-color: slateblue;
    color: #fff;
    height: 75px;
    padding-left: 40px;
    padding-top: 20px;
    font-size: 1.4rem;
    animation: title-fade-in 140ms linear 60ms forwards;
}

@keyframes expandToParent{
    100% {
        left: 0;
        top:0;
        width: 94%;
        height: 100%;
        margin-left: 3%;
    }
}

@keyframes title-fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}