body {
    background-color: #eeeeee;
    font-family: sans-serif;
}

h6 {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

h6::after {
    content: ' ';
    display: block;
    margin-top: 0.3em;
    border-bottom: 2px solid white;
}

.profile-img {
	border: 1px solid #e1e1e1;
	padding: 4px;
	margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
}