.no-padding {
    padding: 0 !important;
}

.loginContainer{
    height: 100vh;
}
@media(max-width:576px) {
    .mlt-content {
        height: 60vh;
        padding-top: 5px;
    }
}
@media(min-width:576px) {
    .row {
        align-items: center !important;
    }
    .mlt-content {
        padding-top: 30px;
        height: 70vh;
        box-shadow: 0px 15px 40px #b3b3b3;
        border-radius: 12px;
    }
}
.mlt-content {
    z-index: 0;
    background: #fff;
    width: 100%;
    text-align: center;
}

.mlt-content span a {
    text-decoration: underline
}

.selected-flag
{
    opacity: 1 !important;

}

.flag{
    opacity: 0.3;
    cursor: pointer;
}