#login-logo {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}
@media(max-width:576px) {
    .mlt-carousel {
        height: 40vh;
    }
    .item {
        display: flex;
        justify-content: center;
    }
}
@media(min-width:576px) {
    .mlt-carousel {
        box-shadow: 0px 0px 30px #808080;
        height: 80vh;
        border-radius: 12px;
    }
    .item>img {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.mlt-carousel {
    background: #272262;
    z-index: 1;
}

.item-content {
    text-align: center;
    color: #fff;
}

.item-content h3 {
    font-size: 19px;
    font-weight: bold;
    text-shadow: 0 0 1px #000;
    margin: 10px 0;
}

.item-content p {
    display: block;
    font-size: 15px;
    color: #fff;
    text-shadow: 0 0 1px #000;
}

.item {
    border-radius: 12px;
    overflow: hidden;
    justify-items: center;
    height: 100%;
}