@media(max-width:575px) {
    .navbar.navbar-expand {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
    }
    .navbar-nav{
        justify-content: space-around !important;
    }
    .container {
        margin-bottom: 50px;
    }
    #main-navbar {
        margin-bottom: 0;
    }
    .separated {
        -webkit-box-shadow: 0 -1px 3px #aaaaaa;
	    -moz-box-shadow: 0 -1px 3px #aaaaaa;
	    box-shadow: 0 -1px 3px #aaaaaa;
    }
}

@media(max-width:991px) {
    .container {
        max-width: 100% !important;
    }
}

@media(min-width:576px) {
    .navbar.navbar-expand {
        position: fixed;
        right: 0;
        top: 0;
        left: 0;
        z-index: 1030;
    }
    .container {
        margin-top: 50px;
    }
    #main-navbar {
        margin-top: 0;
    }
    .separated {
        -webkit-box-shadow: 0 1px 3px #aaaaaa;
	    -moz-box-shadow: 0 1px 3px #aaaaaa;
	    box-shadow: 0 1px 3px #aaaaaa;
    }
    .w-sm-50 {
        width: 50% !important;
    }
}
.bg-navbar {
    background-color: #ededed;
}

.nav-link {
    font-size: 0.85em;
}

.nav-item > a {
    padding: 0.3rem !important;
}

.btn-block + .btn-block {
    margin-top: 0;
}

.btn-navbar-search {
    color: #ededed;
    background-color: #004899;
}